@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');
* {
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;

}

.btn-dark {
  background-color: #435A7D;
  border-color: #435A7D;
}

.btn-dark:hover {
  background-color: #769fbb;
  border-color: #769fbb;
}

.card-img {
  max-width: 300px;
  display: block;
}

.logo {
  color: #435A7D;
}

.back {
  display: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 40%;
}

.main-illu {
  /* display: inline-flex; */
  display: relative;
  z-index: 1;
  background-image: "back";
}

.intro-text {
  display: right;
  z-index: 1;

}

.intro-container{
  display: block;
  z-index: 1;
  background-image: url("./images/Background-blue.png");
  height: 50rem;
  background-repeat: no-repeat;
  background-size: auto;
}



.container {
  display: block;s
}
