@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');
* {
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
}

.btn-dark {
  background-color: #435A7D;
  border-color: #435A7D;
}

.btn-dark:hover {
  background-color: #769fbb;
  border-color: #769fbb;
}

.card-img {
  max-width: 300px;
  display: block;
}

.logo {
  color: #435A7D;
}

@media (min-width: 1000px) {
  .intro-container {
    display: flex;
    margin: 2rem 13rem;
  }
  .main-illu {
    width: 45%;
    height: 45%;
    padding: 2rem;
  }
}

@media (max-width: 1000px) {
  .intro-container {
    margin: 1rem 2rem;
  }
  .main-illu {
    width: 80%;
    height: 80%;
    padding: 2rem;
    display: inline;
  }
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}